[project]
	description = A super simple network status monitor
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matt Hamann (mhamann)
[access "refs/for/refs/*"]
	read = group user/Matt Hamann (mhamann)
	push = group user/Matt Hamann (mhamann)
	label-Code-Review = -2..+2 group user/Matt Hamann (mhamann)
	label-Verified = -1..+1 group user/Matt Hamann (mhamann)
	rebase = group user/Matt Hamann (mhamann)
	removeReviewer = group user/Matt Hamann (mhamann)
	submit = group user/Matt Hamann (mhamann)
[access "refs/heads/*"]
	read = group user/Matt Hamann (mhamann)
	create = group user/Matt Hamann (mhamann)
	push = +force group user/Matt Hamann (mhamann)
	pushMerge = group user/Matt Hamann (mhamann)
[access "refs/tags/*"]
	push = +force group user/Matt Hamann (mhamann)
	pushTag = group user/Matt Hamann (mhamann)
	pushSignedTag = group user/Matt Hamann (mhamann)
